

table{
    border-collapse: collapse;
    border:1px solid black;   
}
td{
    
    border:1px solid black;
    padding: 5px;
}

.form-control {
    display: flex;
    justify-content: center;
    width: 20%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    margin-bottom: 15px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-group {
    margin-bottom: 1rem;
    height: 100vh;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.card-footer:last-child {
    
    background-color: #343a40!important;
}

footer > p{
    display: flex;
    justify-content: center;
    color: #007bff;
}

label {
    color: #007bff;
    font-size: 2em;  
}

h1{
    display: flex;
    justify-content: center;
    color: #007bff;
    font-size: 2em;  
}

h3{
    display: flex;
    justify-content: center;
    color: #007bff;
    font-size: 2em; 
    margin-bottom: 10px; 
}

.list-group-item:hover{
    
    background-color: #343a40;
}

